<mat-card>
  <mat-card-header>
    <app-person
      [matMenuTriggerFor]="menu"
      [firstName]="people[selectedPerson].firstName"
      [lastName]="people[selectedPerson].lastName"
    ></app-person>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let p of people; let i = index">
        <button mat-menu-item *ngIf="i !== selectedPerson">
          <app-person
            (click)="selectedPerson = i"
            [firstName]="p.firstName"
            [lastName]="p.lastName"
          ></app-person>
        </button>
      </ng-container>
      <button mat-menu-item>
        <div style="display: flex; justify-content: center" id="newPerson">
          New <mat-icon>add</mat-icon>
        </div>
      </button>
    </mat-menu>
    <span [matMenuTriggerFor]="datePicker"
      ><mat-icon>event</mat-icon>
      <p>{{ date$ | async | date }}</p>
    </span>
    <mat-menu #datePicker="matMenu">
      <mat-calendar (click)="$event.stopPropagation()"></mat-calendar>
      <div #closeDatePicker></div>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <div contenteditable>
      Overcome key issues to meet key milestones drink from the firehose, yet
      breef up (let's not try to) boil the ocean (here/there/everywhere)
    </div>
  </mat-card-content>
  <mat-card-footer>
    <app-platform
      [platform]="platforms[selectedPlatform]"
      [matMenuTriggerFor]="platformMenu"
    ></app-platform>
    <mat-menu #platformMenu="matMenu">
      <ng-container *ngFor="let plat of platforms; let i = index">
        <button mat-menu-item *ngIf="i !== selectedPlatform">
          <app-platform
            (click)="selectedPlatform = i"
            [platform]="plat"
          ></app-platform>
        </button>
      </ng-container>
    </mat-menu>
  </mat-card-footer>
</mat-card>
